<div class="body">
  <mdc-card class="register" [mdcElevation]="2">
    <h2>Register a hospital:</h2>

        <button type="submit" (click)="change()" class="btn btn-primary">Register</button>
        <div id="deposit-result">Click the button to register your hospital.</div>
  </mdc-card>
<br>
  <mdc-card class="register" [mdcElevation]="2">
    <h2>Book a bed</h2>

        <button type="submit" routerLink="/hospitals" (click)="change()" class="btn btn-primary">Proceed</button>
        <div id="deposit-result">Click Proceed to look at available beds.</div>
  </mdc-card>
</div>