<mdc-top-app-bar #demoappbar fixed [mdcElevation]="4" [fixedAdjustElement]="mainContent">
	<mdc-top-app-bar-row>
      <h1 style="align-content: center" *ngIf="resolution <= 599"> Get A Bed Space </h1>
      <h1 style="align-content: start" *ngIf="resolution >= 600"> Get A Bed Space</h1>
		<mdc-top-app-bar-section align="start">
      <button mdcIconButton mdcTopAppBarNavIcon icon="menu"  (click)="demoModal.open = !demoModal.open" *ngIf="resolution >= 600"></button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
        <button mdc-button unelevated
            routerLink="/account"  *ngIf="resolution >= 600 && account">
            <img [src]="accountImage" class="profile" />
            <span mdcButtonLabel>{{account}}...</span>
        </button>
      <mdc-icon *ngIf="resolution <= 599" routerLink="/account">person</mdc-icon>
      <mdc-icon *ngIf="resolution >= 599 && !account" routerLink="/account">person</mdc-icon>
    </mdc-top-app-bar-section>

  </mdc-top-app-bar-row>
  <mdc-top-app-bar-row *ngIf="resolution <= 599">
    <mdc-top-app-bar-section>
      <mdc-tab-bar fixed align="center" [activeTabIndex]="-1">
        <mdc-tab-scroller>
          <mdc-tab label="Home" routerLink="/home"  routerLinkActive="mdc-tab-indicator--active"></mdc-tab>
          <mdc-tab label="Money" routerLink="/money" routerLinkActive="mdc-tab-indicator--active"></mdc-tab>
        </mdc-tab-scroller>
      </mdc-tab-bar>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<div class="main" #mainContent>
  <div class="content">
    <div class="layout__row--no-wrap demo-drawer-app">
      <mdc-drawer drawer="modal" #demoModal>
        <mdc-drawer-header>
          <h3 mdcDrawerTitle>Hospital Bed ÐAPP</h3>
          <h6 mdcDrawerSubtitle>Book a bed for you</h6>
        </mdc-drawer-header>
        <mdc-drawer-content>
          <mdc-list useActivatedClass>
              <a mdc-list-item routerLink="/home" routerLinkActive="mdc-list-item--activated">
                <mdc-icon mdcListItemGraphic>favorite</mdc-icon>Home
              </a>


          </mdc-list>
        </mdc-drawer-content>
      </mdc-drawer>
    </div>
  </div>
</div>

