.account{
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}
.body{
  padding-top: 10px;
  max-width:100%;
  margin: 2em auto;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}
.header{
  padding: 30px;
}

.profile{
  border: 5px solid rgb(9, 180, 192);
  border-radius: 50%;
  background-position: center center;
}

